
<html>
<head>
<title>FER-DashBoard</title>

<script type="text/javascript">
	function submitForm(path) {

		// get the object 
		var form = document.DashboardForm;

		//set the form object
		form.action = path;

		//submit the form 
		form.submit();

	}
</script>
</head>
<body>
	<form name='DashboardForm' method='post'>
		<table border='2' alignment='center' height='550px' width='800px'>

			<tr>
				<td colspan='2' align='center' height='75px'>Family Expense
					Report &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; User: